/* ---- Global ------------------------------------------------------------------------------------------------------ */
html, body, #root, .expand-width, .expand-height, .expand-all {
  width: 100vw;
  min-height: 100vh;
}
.expand-width { height: auto; }
.expand-height { width: auto; }

/* -- Body */
body {
  --background-color: #222831;
  --background-color⨣1: #393E46;
  --background-color⨣2: #565B62;
  --primary-color: #0466C8;
  --secondary-color: #FFC229;
  --tertiary-color: #4ECDC4;
  --quaternary-color: #F62A66;
  --text-color_background: #FFFFFF;
  --text-attenuate_background: #AEB1B4;
  --primary-border-color: #404B4D;

  margin: 0;
  background: var(--background-color);
  color: var(--text-color_background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -- Special classes */
/* - Link */
.link {
  color: var(--text-color_background);
  text-decoration: none;
}
.link:hover { color: var(--secondary-color); }

/* - Back link */
/* TODO: Change color */
.back-link {
  margin: 0;
  padding: 0;
  background: none;
  color: peru;
  border: none;
  text-decoration: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
.back-link:hover { text-decoration: underline; }

/* - Event killers */
.no-event { cursor: auto !important; }
