/* --- Container ---------------------------------------------------------------------------------------------------- */
.market-card {
    width: 450px;
    height: 250px;
    background-color: var(--tertiary-color);
}

.market-card-info {
    height: 200px;
    display: flex;
    flex-direction: row;
}

.market-card-img-container {
    position: relative;
    width: 200px;
    background-size: cover;
}

.market-card-discount {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.market-card-buyButton {
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    border: none;
}

.market-card-text {
    padding: 10px;
    width: 230px;
}
