/* --- Container ---------------------------------------------------------------------------------------------------- */
.map {
	position: relative;
	width: 600px;
	height: 400px;
}

/* --- Map ---------------------------------------------------------------------------------------------------------- */
.map .map-box {
	width: 100%;
	height: 100%;
}
