/* --- Container ---------------------------------------------------------------------------------------------------- */
.user-account {
    --container-height: calc(3.5rem - 2px);
    --container-padding: 5px;

    position: relative;
    background: inherit;
}

.user-account .user-account-wrapper {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--container-padding);
    height: var(--container-height);
    padding: var(--container-padding);
    background: inherit;
    border: thin bisque solid;
    cursor: pointer;
    z-index: 10;
}

/* --- User account picture ----------------------------------------------------------------------------------------- */
.user-account .user-account-pic {
    --pic-size: calc(var(--container-height) - (var(--container-padding) * 2));

    width: var(--pic-size);
    height: var(--pic-size);
}

.user-account .user-account-pic .user-account-no-pic {
    width: var(--pic-size);
    height: var(--pic-size);
    background: rgba(128, 128, 128, 0.15);
    border-radius: 50%;
}

/* --- User account info -------------------------------------------------------------------------------------------- */
.user-account .user-account-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* -- Account status */
.user-account .user-account-info .user-account-status {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.user-account .user-account-info .user-account-status .connected-dot {
    --dot-size: 14px;

    position: relative;
    display: block;
    width: var(--dot-size);
    height: var(--dot-size);
    margin: 3px 0 0 calc(var(--dot-size) / 3);
}

.user-account .user-account-info .user-account-status .connected-dot::before,
.user-account .user-account-info .user-account-status .connected-dot::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: green;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.user-account .user-account-info .user-account-status .connected-dot.disconnected::before,
.user-account .user-account-info .user-account-status .connected-dot.disconnected::after { background: red; }

.user-account .user-account-info .user-account-status .connected-dot::before {
    width: var(--dot-size);
    height: var(--dot-size);
    opacity: 0.25;
    animation-name: ping;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.user-account .user-account-info .user-account-status .connected-dot::after { width: calc(var(--dot-size) / 2); height: calc(var(--dot-size) / 2); }

@keyframes ping {
    0% { width: 0; height: 0; opacity: 0.7; }
    100% { width: 20px; height: 20px; opacity: 0; }
}

/* -- Account balance */
.user-account .user-account-info .user-account-balance {
    font-size: 0.7em;
}

/* --- User account menu -------------------------------------------------------------------------------------------- */
.user-account .user-account-menu {
    --item-height: 30px;
    --item-margin: 5px;
    --item-count: 1;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: var(--item-margin);
    background: burlywood;
    transition: bottom 100ms ease-in-out;
    pointer-events: none;
    z-index: 5;
}
.user-account .user-account-menu.shown {
    bottom: calc(((var(--item-height) * var(--item-count)) + (var(--item-margin) * (var(--item-count) - 1)) + (var(--item-margin) * 2)) * -1);
    pointer-events: auto;
}

/* -- Menu list */
.user-account .user-account-menu .user-account-menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* -- Menu item */
.user-account .user-account-menu .user-account-menu-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: var(--item-height);
    cursor: pointer;
    transition: background-color 100ms ease-in;
}
.user-account .user-account-menu .user-account-menu-item:not(:last-child) { margin-bottom: var(--item-margin); }
.user-account .user-account-menu .user-account-menu-item:hover { background: rgba(0, 0, 0, 0.15); }

.user-account .user-account-menu .user-account-menu-item > * {
    display: block;
    flex-grow: 1;
    height: var(--item-height);
    line-height: var(--item-height);
    padding: 0 var(--item-margin);
}
