/* ---- Collections ------------------------------------------------------------------------------------------------- */
.CardsMarket-page .market-section:not(:last-child) { margin-bottom: 25px; }

/* -- Title */
.CardsMarket-page .market-section .market-section-title {
	box-sizing: border-box;
	display: inline-block;
	margin: 0 0 0.5em 0;
	padding: 5px 40px 5px 10px;
	background: var(--primary-color);
	color: var(--text-color_background);
	clip-path: polygon(0% 100%, 0% 0%, 100% 0%, calc(100% - 30px) 100%);
}

/* -- Empty section message */
.CardsMarket-page .market-section .market-section-no-item {
	font-size: 0.9em;
	margin: 0.5em 0 0 0;
	color: var(--text-attenuate_background);
	font-style: italic;
}

body.crt-mode .CardsMarket-page .market-section .market-section-no-item {
	color: var(--primary-color);
	opacity: 0.5;
}

/* -- Collection content */
.CardsMarket-page .market-section .market-section-items {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}
