/* ---- Page container ---------------------------------------------------------------------------------------------- */
.App-root {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

/* -- Header */
.App-root header { flex-grow: 0; flex-shrink: 0; }

/* ---- App body ---------------------------------------------------------------------------------------------------- */
.App-root .App-body { flex-grow: 1; position: relative; }

/* ---- Pages ------------------------------------------------------------------------------------------------------- */
.App-root .App-body .Page {
	box-sizing: border-box;
	padding: 20px;
}
